<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
div {
    font-family: "Poppins", serif;
}

.b1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: wheat;
}

.b2 {
    width: 100vw;
    height: 90vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.b3 {
    width: 100vw;
    /* height: 210vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    /* padding: 150px 150px; */
    padding: 10%;
    align-items: flex-start;
    gap: 28px;

}

.title1 {
    display: flex;
    width: 219px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #666;
    color: white;
    font-family: Supreme;
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

.title2 {
    display: flex;
    width: 310px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    color: var(--NeuYellow, #E5E548);
    text-align: center;
    font-family: Supreme;
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    position: absolute;
    left: 35%;
}

.lined {
    display: flex;
    position: relative;
    align-items: center;
}

.line {
    position: relative;
    top: 1500%;
    left: 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "box1 box2"
        "box3 box4";
    /* padding: 80px 150px; */
    padding: 0 10%;
    column-gap: 40px;
    row-gap: 120px;
}


.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-box {
    display: flex;
    position: relative;
    align-items: flex-end;
}

.pic1 {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: gray;
    position: relative;
    z-index: 0;
}

.Polygon {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 2;
}
.hover-line {
    display: flex;
    height: 128px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.yellow-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 128px;
    background-color: #E5E548;
    width: 0;
    transition: width 1s ease;
}

.yellow-box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 328px;
    width: 328px;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease, left 1s ease;
}

.box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    opacity: 0;
    pointer-events: none;
    position: relative;
    bottom: 0;
    left: 0;
    transition: opacity 1s ease, left 1s ease;
}

.image-box:hover .yellow-line {
    width: 80%;
}

.image-box:hover .yellow-box {
    opacity: 1;
    left: 80%;
}

.image-box:hover .arrow {
    opacity: 1;
    left: 770%;
}

.number-container{
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 300px; 
    padding-top: 120px;
    padding-left: 50px;
}

.number {
    transform: rotate(-90deg);
    text-align: right;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: var(--NeuWhite, #FFF);
    font-family: Supreme;
    color: transparent;
    font-size: 168px;
    font-weight: 700;
    position: relative;
    -webkit-text-stroke: 1px #ffffff7b;
 
}

.text {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.line1 {
    /* width: 400px; */
    color: var(--NeuYellow, #E5E548);
    font-family: Supreme;
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.line2 {
    color: var(--White, #FFF);
    font-family: Supreme;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;

}

.line3 {
    color: var(--White, #FFF);
    font-family: Supreme;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    opacity: 0.4;
}

.line4 {
    color: var(--White, #FFF);
    font-family: Supreme;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.btn {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 80px;
    border: 1px solid #FFF;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Supreme;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.192px;
    text-transform: uppercase;
<<<<<<< Updated upstream
}
=======
}

.btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease; 
}


@media (max-width:750px) {
    .title1 {
        font-size: 56px;
    }
    
    .title2 {
        font-size: 56px;
    }

    .pic1 {
        width: 269px;
        height: 376px;
    }


}
>>>>>>> Stashed changes
