.g6cont {
    width: 100vw;
    height: 91vh;
    background-color: #E5E548;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: column;
    overflow: hidden;
}

.g6top {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    align-items: start;
    padding-right: 30%;
    align-items: center;
}

.g6top1 {
    width: 1050px;
    height: 264px;
}

.g6toptext1 {
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    width: 100%;
}

.g6linedtext {
    color: black;
    width: auto;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;

}

/* 
 .g6line {
    width: 480px;
    border: 1.6px solid #000000;
    position: absolute; 
    right: 50%;
    margin-bottom: 200%;
    z-index: 100;
 }  */


/* .forg6line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
} */

.g6top2 {
    width: 108px;
    height: 108px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    letter-spacing: 0.016em;
    text-align: center;
    border: none;
    background-color: white;
}

.g6mid {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.g6mid1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    width: 86px;
    height: 24px;
}

.g6mid11 {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    width: 86px;
    height: 24px;
    display: none;
}

.g6midbox1 {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.g6box1header {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
    width: 190px;
    height: 55px;
    text-align: left;
}

.g6det1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    height: auto;
    width: auto;
}

.g6box2header {
    width: 98px;
    height: 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
}

.g6det2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    height: auto;
    width: auto;
}

.g6text3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.04em;
}

.g6text4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 1px;
}

.g6midbox1 {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 120px;
    gap: 32px;
}

.g6midbox2 {
    display: flex;
    flex-direction: column;
    width: 197px;
    height: 120px;
    gap: 32px;

}

.g6midbox3 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    text-transform: uppercase;
}

.g6midbox4 {
    display: flex;
    flex-direction: column;
    width: 197px;
    height: 120px;
    text-transform: uppercase;
}


.g6contmid {
    display: flex;
}

.g6end {
    width: 100vw;
    height: 10vh;
    gap: 15px;
    display: flex;
    padding-left: 1.8%;
}

.g6end1 {
    width: 200px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
}

.g6text3:hover {
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, 0.3s ease;
}

.g6text4:hover {
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, 0.3s ease;
}

.g6mid3and4box {
    display: flex;
    width: 27vw;
    justify-content: space-between;
}

.g6mid1and2box {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
}


@media (max-width: 1500px) {

    .g6top1 {
        width: 850px;
        height: 200px;
    }

    .g6toptext1 {
        font-size: 70px;
    }

    .g6linedtext {
        font-size: 70px;
    }

    .g6top {
        padding-right: 15%;
    }

    .g6contmid {
        width: 70vw;
    }


}

@media (max-width: 1150px) {

    .g6cont {
        width: 100vw;
        height: 1300px;
    }

    .g6top {
        width: 90vw;
        height: 600px;
        align-items: start;
        flex-direction: column;
    }

    .g6top1 {
        width: 50vw;
    }

    .g6toptext1 {
        font-size: 70px;
    }

    .g6linedtext {
        font-size: 70px;
    }

    .g6top2 {
        width: 90px;
        height: 90px;
        font-size: 10px;
    }

    .g6mid {
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: start;
        height: 600px;
    }

    .g6mid1 {
        display: none;
    }

    .g6mid11 {
        display: flex;
    }

    .g6box1header {
        font-size: 17px;
    }

    .g6det1 {
        font-size: 14px;
    }

    .g6box2header {
        font-size: 17px;
    }

    .g6det2 {
        font-size: 14px;
    }

    .g6text3 {
        font-size: 14px;
    }

    .g6text4 {
        font-size: 14px;
    }

    .g6midbox1 {
        gap: 16px;
    }

    .g6midbox2 {
        gap: 16px;

    }

    .g6contmid {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: auto;
    }

    .g6mid3and4box {
        display: flex;
        width: 50vw;
        justify-content: space-between;
    }

    .g6mid1and2box {
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: space-between;
    }

    .g6end {
        height: 50px;
    }

    .g6end1 {
        font-size: 12px;
    }

    .g6text3:hover {
        font-size: 13px;
    }

    .g6text4:hover {
        font-size: 13px;
    }


}

@media (max-width: 1000px) {
    .g6toptext1 {
        font-size: 56px;
    }

    .g6linedtext {
        font-size: 56px;
    }

}

@media (max-width: 800px) {
    .g6top {
        height: 700px;
    }
}


@media (max-width: 683px) {

    .g6toptext1 {
        font-size: 48px;
    }

    .g6linedtext {
        font-size: 48px;
    }

    .g6mid3and4box {
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }

.g6top {
    height: 650px;
}

    .g6midbox3 {
        width: 50px;
    }

    .g6midbox4 {
        width: 50px;
    }
}

@media (max-width: 585px) {
    .g6top {
        height: 790px;
    }
    

}


@media (max-width: 450px) {
    .g6toptext1 {
        font-size: 48px;
    }

    .g6linedtext {
        font-size: 48px;
    }

    .g6mid3and4box {
        display: flex;
        justify-content: space-between;
    }

    .g6top {
        height: 770px;
    }

    .g6cont {
        width: 100vw;
        height: 1500px;
    }
}

@media (max-width: 436px) {
    .g6top {
        height: 760px;
    }
    .g6toptext1 {
        font-size: 40px;
    }

    .g6linedtext {
        font-size: 40px;
    }
}

@media (max-width: 382px) {
    .g6end1 {
        font-size: 9px;
    }

    .g6cont {
        height: 1400px;
    }
    
    .g6top {
        height: 700px;
    }

    .g6midbox1 {
        margin-top: 20px;
        width: 100vw;
    }
    .g6midbox2 {
        margin-top: 60px;
        width: 100vw;
    }
}

@media (max-width: 363px) {
   
    
    .g6top {
        height: 800px;
    }

    .g6toptext1 {
        font-size: 36px;
    }

    .g6linedtext {
        font-size: 36px;
    }
}


@media (max-width: 319px) {
    .g6toptext1 {
        font-size: 36px;
    }

    .g6linedtext {
        font-size: 36px;
    }

    .g6midbox1 {
        margin-top: 20px;
    }
    .g6midbox2 {
        margin-top: 100px;
    }

    .g6cont {
        height: 1500px;
    }
    
    .g6top {
        height: 840px;
    }

}

@media (max-width: 307px) {
    .g6cont {
        height: 1450px;
    }
    
    .g6top {
        height: 700px;
    }

    .g6toptext1 {
        font-size: 32px;
    }

    .g6linedtext {
        font-size: 32px;
    }
}

@media (max-width: 291px) {
    .g6cont {
        height: 1500px;
    }
    
    .g6top {
        height: 790px;
    }

    .g6toptext1 {
        font-size: 32px;
    }

    .g6linedtext {
        font-size: 32px;
    }
  
    .g6mid1and2box {
        width: 100vw;
    }
}

@media (max-width: 272px) {
    .g6cont {
        height: 1600px;
    }
    
    .g6top {
        height: 890px;
    }

    .g6toptext1 {
        font-size: 32px;
    }

    .g6linedtext {
        font-size: 32px;
    }
  
    .g6mid1and2box {
        width: 100vw;
    }
}