* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.g1mainbox {
    background-color: #000000;
    height: 90vh;
    width: 95.3vw;
    display: flex;
    font-family: 'Supreme', sans-serif;
    padding-left: 3%;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 0;  
    overflow-y: hidden;
}

.g1mid {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding-bottom: 5%;
}

.g1mid1 {
    width: 100%;
    height: 102px;
    font-size: 64px;
    font-weight: 700;
    line-height: 102.4px;
    color: white; 
    text-transform: uppercase;
    transition: color 0.3s ease, 0.3s ease; 
    display: flex;
    justify-content: start;
    align-items: center;
}

.g1mid1:hover {
    color: #E5E548;
    text-decoration: line-through 4px; 
    text-decoration-color: #E5E548;
}

.g1midright {
    width: 290px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.g1top2text {
    font-size: 14px;
    line-height: 33.6px;
    letter-spacing: 1px;
    color: white;
    padding-top: 1%;
}

.g1top2text:hover {
    cursor: pointer;
    color: #E5E548;
    transition: color 0.3s ease, 0.3s ease; 
}

.g1midrightbottom {
    width: 197px;
    height: 120px;
    padding-top: 27%;
}

.g1midbot1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 15%;
}

.g1bot2text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    color: white;
}

.g1rightendimg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
}


.g1footer {
    width: 15vw;
    height: 7vh;
    background-color: transparent;
    display: flex;
    position: absolute;
    left: 5%;
    bottom: 0;
    gap: 5%;
}

.g1footertext1 {
    width: 110px;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 0.04em;
    color: #666666;
}