* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    background-color: gray;
    height: 700vh;
    width: 100vw;
    flex-direction: column;
}

div {
    font-size: 50px;
    font-family: "Poppins", serif;
}

.b1 {
    width: 100vw;
    height:100vh;
    background-color: black;
}

.b2 {
    width: 100vw;
    height: 90vh;
    background-color: aqua;
}

.b3 {
    width: 100vw;
    height: 210vh;
    background-color: blue;
}




