* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* 
body {
    overflow-x: hidden;
    height: 697vh;
}

html {
    overflow-y: hidden;
    height: 697vh;
}  */

.main {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    font-family: 'Supreme', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.home-box {
    max-width: 100vw;
    height: 100vh;
    background-image: url(./igniting-innovation-harnessing-power-coding-600nw-2425426569-modified.webp);
    display: flex;
    z-index: 1;
    transition: background-color 0.5s ease;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position:  center;
}

.home-left-info-box {
    height: 100vh;
    width: 5vw;
    background-color: #00000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2.01%;
    padding-projects-bottom-box: 1.9%;
    z-index: 1;
    transition: background-color 0.5s ease-in-out;
}

.home-top-nav-action-box {
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    position: absolute;
    transition: background-color 0.5s ease-in-out;
    z-index: -1;
    overflow-x: hidden;
}

.home-left-info-button-menu {
    display: block;
    transition: transform 0.5s ease;
    z-index: 10;
    position: relative;
}

#fadeInButtonSVG {
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
  }
  
  #fadeInButtonSVG.rotated {
    transform: rotate(360deg);
  }
  
  
  
.home-left-info-button-menu-wrapper {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.home-left-info-button-menu-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}


.home-content-box {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-left: 4.5%;
    flex-direction: column;
    justify-content: space-between;
    padding-projects-bottom-box: 2%;
}

.home-content-top-nav-coord-info {
    width: 90.8vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-right: 10%;
}


.home-content-top-nav-info-text {
    width: 86px;
    height: 24px;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    color: white;
}

.home-left-info-button-menu-icon {
    display: none;
}


.home-left-info-text-box {
    width: 86px;
    height: 24px;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    color: white;
    display: none;
}

.home-content-top-nav-coord-box {
    width: 250px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.home-content-top-nav-coord {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    letter-spacing: 0.04em;
    color: white;
}

.home-content-top-nav-coord-info {
    opacity: 60%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    letter-spacing: 0.04em;
    color: white;
}


.gmiddle {
    width: 80vw;
    height: 60vh;
}


.home-content-h1 {
    width: 820px;
    height: 386px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
}

.home-content-h1-l1 {
    width: 100%;
    height: 96px;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -2px;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
}

.home-content-h1-l2-line {
    width: 93%;
    height: 96px;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -2px;
    text-align: right;
    text-transform: uppercase;
    color: #E5E548;
}

.home-content-h1-l2-linethrough {
    width: 100%;
    height: 0px;
    border: 1.6px solid #E5E548;
    position: absolute;
    align-items: start;
}

.home-content-h1-l2-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-content-h1-l3 {
    width: 87%;
    height: 96px;
    text-align: center;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home-content-h1-l4-box {
    display: flex;
    width: 95%;
    gap: 63px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.home-content-h1-l4-info {
    width: 267px;
    height: 58px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    color: #FFFFFF;
}

.home-content-h1-button-content {
    width: 108px;
    height: 108px;
    border-radius: 100%;
    background-color: #E5E548;
    color: #000000;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    letter-spacing: 0.016em;
}

.home-video-box {
    width: 290px;
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    top: 65%;
    left: 74.5%;
    z-index: 1;
}

.home-video {
    width: 290px;
    height: 160px;
}

.home-video-h1 {
    width: 110px;
    height: 22px;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-left: 2px;
}

.home-drop-down-box {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-drop-down-button {
    transition: transform 0.3s ease;
    z-index: 1;
}

.home-content-h1-button-icon {
    display: none;
}

.home-drop-down-button:hover {
    cursor: pointer;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(-10px);
    }
}

.home-decor-box {
    width: 885px;
    height: 358px;
    projects-bottom-box: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    opacity: 50%;
    padding-top: 12%;
}


.about-box {
    width: 100vw;
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.about-content-h1 {
    width: 1060px;
    height: 448px;

}

.about-content-h1-l1 {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff7b;
}

.about-content-h1-l2 {
    font-size: 88px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-transform: uppercase;
    color: #E5E548;
    text-decoration: line-through 1.6px #E5E548;
    border: none;
}

.about-content-button {
    justify-content: center;
    align-items: center;
    border-radius: 88px;
    border: 1px solid #FFF;
    background-color: black;
    width: 110px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.192px;
    text-transform: uppercase;

}

.about-content-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease;
}




::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #E5E548 80%;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E5E548;
}

.journal-container-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    /* height: 104vh; */
    background-color: #000;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 9%;
}

.journal-container-header-box {
    width: 551px;
    height: 120px;
    padding-top: 1%;
}

.journal-container-header-h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 102.4px;
    -webkit-text-stroke: 2px #666666;
    color: black;
    height: auto;
}

.journal-container-header-h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 102.4px;
    text-align: end;
    color: #E5E548;
    position: absolute;
}

.journal-container-header-h2-line {
    width: 551px;
    border: 1.6px solid #E5E548;
    position: relative;
}

.journal-container-header-h2-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.journal-container-body-box {
    /* width: 88vw; */
    /* height: 60vh; */
    gap: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 100px;
}

.journal-container-body-polygon-img {
    height: 408px;
    width: 440px;
}

.journal-container-body-content-box {
    width: 621px;
    height: 250px;
    /* margin-projects-bottom-box: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.journal-container-body-content-h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    letter-spacing: 4px;
    color: yellow;
    width: 549px;
    height: 114px;
}

.journal-container-body-content-h2 {
    width: 549px;
    height: 32px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}

.journal-container-body-content-h3-date {
    width: 120px;
    height: 22px;
    opacity: 40%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
}

.journal-container-bot-box {
    width: 93vw;
    height: 15vh;
    justify-content: space-between;
    display: flex;
    padding: 80px 0 116px;
}

.journal-container-bot-button {
    width: 126px;
    height: 48px;
    border-radius: 80px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    letter-spacing: 0.016em;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.journal-container-bot-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease;
}



.journal-container-box-Polygon {
    width: 70px;
    height: 70px;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
}

.journal-container-body-img {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 440px;
    height: 408px;

}

.journal-container-body-polygon-img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: gray;
    position: relative;
    z-index: 0;
    transition: opacity 0.4s ease;
    object-fit: cover;
}



.journal-container-box-number-container {
    position: absolute;
    z-index: 5;
    width: 150px;
    height: 300px;
    padding-top: 120px;
    padding-left: 50px;
}

.journal-container-box-number {
    transform: rotate(-90deg);
    text-align: right;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: var(--NeuWhite, #FFF);
    color: transparent;
    font-size: 168px;
    font-weight: 700;
    position: relative;
    -webkit-text-stroke: 1px #ffffff7b;

}

@media (max-width:1236px) {

    .journal-container-body-box {
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
        gap: 40px;
    }

    .journal-container-body-img {
        width: 366px;
        height: 216px;
    }

    .journal-container-body-content-h1 {
    font-size: 24px;
}

    .journal-container-body-content-h2 {
    font-size: 18px;
}

.journal-container-body-content-box {
    width: 366px;
    height: 229px;
    gap: 50px;
}

.journal-container-box-number {
    font-size: 120px;
}

.journal-container-box-number-container {
    padding-top: 160px;
    padding-left: 1px;
}

.journal-container-header-h1  {
    font-size: 56px;
}

.journal-container-header-h2  {
    font-size: 56px;
}

}



/* 
footer-box-container.css
*/

.footer-box-container {
    width: 100vw;
    height: 91vh;
    background-color: #E5E548;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: column;
    overflow: hidden;
}

.footer-h1-box-container {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    align-items: start;
    padding-right: 30%;
    align-items: center;
}

.footer-h1-box {
    width: 1050px;
    height: 264px;
}

.footer-h1-box-h1 {
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    width: 100%;
}

.footer-h1-box-h1-lined-h1 {
    color: black;
    width: auto;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    text-decoration: line-through 3px solid black;
}

/* 
 .footer-h1-box-h1-line {
    width: 480px;
    border: 1.6px solid #000000;
    position: absolute; 
    right: 50%;
    margin-projects-bottom-box: 200%;
    z-index: 100;
 }  */


/* .forg6line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
} */

.footer-h1-box-h1-button {
    width: 108px;
    height: 108px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    letter-spacing: 0.016em;
    text-align: center;
    border: none;
    background-color: white;
}

.footer-footer-box {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.footer-neuro {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    width: 86px;
    height: 24px;
}

.footer-content-neuro {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    width: 86px;
    height: 24px;
    display: none;
}

.footer-content-address {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.footer-content-address-h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
    width: 190px;
    height: 55px;
    text-align: left;
}

.footer-content-address-h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    height: auto;
    width: auto;
}

.footer-content-contact-business {
    width: 98px;
    height: 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
}

.footer-content-contact-us {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    height: auto;
    width: auto;
}

.footer-content-menu-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.04em;
}

.footer-content-social-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 1px;
}

.footer-content-address {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 120px;
    gap: 32px;
}

.footer-content-contact {
    display: flex;
    flex-direction: column;
    width: 197px;
    height: 120px;
    gap: 32px;

}

.footer-content-menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    text-transform: uppercase;
}

.footer-content-social-box {
    display: flex;
    flex-direction: column;
    width: 197px;
    height: 120px;
    text-transform: uppercase;
}


.footer-content {
    display: flex;
}

.footer-content-about-box {
    width: 100vw;
    height: 10vh;
    gap: 15px;
    display: flex;
    padding-left: 1.8%;
}

.footer-content-about-company {
    width: 200px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
}

.footer-content-menu-button:hover {
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, 0.3s ease;
}

.footer-content-social-button:hover {
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, 0.3s ease;
}

.footer-content-menu-box {
    display: flex;
    width: 27vw;
    justify-content: space-between;
}

.footer-content-box {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
}


@media (max-width: 1500px) {

    .footer-h1-box {
        width: 850px;
        height: 200px;
    }

    .footer-h1-box-h1 {
        font-size: 70px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 70px;
    }

    .footer-h1-box-container {
        padding-right: 15%;
    }

    .footer-content {
        width: 70vw;
    }


}

@media (max-width: 1150px) {

    .footer-box-container {
        width: 100vw;
        height: 1300px;
    }

    .footer-h1-box-container {
        width: 90vw;
        height: 600px;
        align-items: start;
        flex-direction: column;
    }

    .footer-h1-box {
        width: 50vw;
    }

    .footer-h1-box-h1 {
        font-size: 70px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 70px;
    }

    .footer-h1-box-h1-button {
        width: 90px;
        height: 90px;
        font-size: 10px;
    }

    .footer-footer-box {
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: start;
        height: 600px;
    }

    .footer-neuro {
        display: none;
    }

    .footer-content-neuro {
        display: flex;
    }

    .footer-content-address-h1 {
        font-size: 17px;
    }

    .footer-content-address-h2 {
        font-size: 14px;
    }

    .footer-content-contact-business {
        font-size: 17px;
    }

    .footer-content-contact-us {
        font-size: 14px;
    }

    .footer-content-menu-button {
        font-size: 14px;
    }

    .footer-content-social-button {
        font-size: 14px;
    }

    .footer-content-address {
        gap: 16px;
    }

    .footer-content-contact {
        gap: 16px;

    }

    .footer-content {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: auto;
    }

    .footer-content-menu-box {
        display: flex;
        width: 50vw;
        justify-content: space-between;
    }

    .footer-content-box {
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: space-between;
    }

    .footer-content-about-box {
        height: 50px;
    }

    .footer-content-about-company {
        font-size: 12px;
    }

    .footer-content-menu-button:hover {
        font-size: 13px;
    }

    .footer-content-social-button:hover {
        font-size: 13px;
    }


}

@media (max-width: 1000px) {
    .footer-box-container {
        width: 100vw;
        height: 1000px;
    }

    .footer-h1-box-h1 {
        font-size: 56px;
        line-height: 70px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 56px;
        line-height: 70px;
    }

}

@media (max-width: 800px) {
    .footer-box-container {
        width: 100vw;
        height: 1100px;
    }
    
    .footer-h1-box-container {
        height: 600px;
    }
}


@media (max-width: 683px) {

    .footer-h1-box-h1 {
        font-size: 48px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 48px;
    }

    .footer-content-menu-box {
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }

.footer-h1-box-container {
    height: 650px;
}

    .footer-content-menu {
        width: 50px;
    }

    .footer-content-social-box {
        width: 50px;
    }
}

@media (max-width: 585px) {
    .footer-h1-box-container {
        height: 790px;
    }
    

}


@media (max-width: 450px) {
    .footer-h1-box-h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .footer-content-menu-box {
        display: flex;
        justify-content: space-between;
    }

    .footer-h1-box-container {
        height: 500px;
    }

    .footer-box-container {
        width: 100vw;
        height: 1100px;
    }
}

@media (max-width: 436px) {
    .footer-h1-box-container {
        height: 500px;
    }
    .footer-h1-box-h1 {
        font-size: 40px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 40px;
    }
}

@media (max-width: 382px) {
    .footer-content-about-company {
        font-size: 9px;
    }

    .footer-box-container {
        height: 1100px;
    }
    
    .footer-h1-box-container {
        height: 500px;
    }

    .footer-content-address {
        margin-top: 20px;
        width: 100vw;
    }
    .footer-content-contact {
        margin-top: 60px;
        width: 100vw;
    }
}

@media (max-width: 363px) {
   
    
    .footer-h1-box-container {
        height: 440px;
    }

    .footer-h1-box-h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .footer-box-container {
        height: 1000px;
    }
}


@media (max-width: 326px) {
    .footer-box-container {
        height: 1100px;
    }
    
    .footer-h1-box-container {
        height: 450px;
    }

}

@media (max-width: 307px) {
    .footer-box-container {
        height: 1000px;
    }
    
    .footer-h1-box-container {
        height: 430px;
    }

    .footer-h1-box-h1 {
        font-size: 32px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 32px;
    }
}

@media (max-width: 291px) {
    .footer-box-container {
        height: 1100px;
    }
    
    .footer-h1-box-container {
        height: 450px;
    }

    .footer-h1-box-h1 {
        font-size: 32px;
    }

    .footer-h1-box-h1-lined-h1 {
        font-size: 32px;
    }
  
    .footer-content-box {
        width: 100vw;
    }
}

@media (max-width: 272px) {
    .footer-box-container {
        height: 1150px;
    }
    
    .footer-h1-box-container {
        height: 500px;
    }

    .footer-content-box {
        width: 100vw;
    }
}


/* 
gpage1.css
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger-menu-container {
    background-color: #000000;
    height: 90vh;
    width: 95.3vw;
    display: flex;
    padding-left: 3%;
    align-items: end;
    position: absolute;
    projects-bottom-box: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 0;
    overflow-y: hidden;
}

.bm-box {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding-projects-bottom-box: 5%;
}

.bm-footer-content {
    width: 100%;
    height: 102px;
    font-size: 64px;
    font-weight: 700;
    line-height: 102.4px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease, 0.3s ease;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bm-footer-content:hover {
    color: #E5E548;
    text-decoration: line-through 4px;
    text-decoration-color: #E5E548;
    transition: color 0.3s ease, 0.3s ease;
}

.bm-social-box {
    width: 290px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bm-social-content-updates {
    font-size: 14px;
    line-height: 33.6px;
    letter-spacing: 1px;
    color: white;
    padding-top: 1%;
}

.bm-social-content-updates:hover {
    cursor: pointer;
    color: #E5E548;
    transition: color 0.3s ease, 0.3s ease;
}

.bm-contact-box {
    width: 250px;
    height: 120px;
    padding-top: 27%;
}

.bm-social-info {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: white;
    padding-projects-bottom-box: 15%;
}

.bm-contact-address {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1px;
    color: white;
}

.bm-tend-img {
    position: absolute;
    z-index: 0;
    projects-bottom-box: 0;
    right: 0;
}


.bm-company-box {
    width: 15vw;
    height: 7vh;
    background-color: transparent;
    display: flex;
    position: absolute;
    left: 5%;
    projects-bottom-box: 0;
    gap: 5%;
}

.bm-company-name {
    width: 110px;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 0.04em;
    color: #666666;
}

@media (max-width: 1200px) {


    .home-video-box {
        width: 290px;
        display: flex;
        align-items: end;
        justify-content: end;
        position: absolute;
        top: 65%;
        left: 70.5%;
        z-index: 1;
    }

    .bm-company-box {
        width: 25vw;
    }

    .about-box {
        padding-left: 3%;
    }

    .about-content {
        padding-left: 10vw;
        height: 80vh;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .about-content-h1-l1 {
        font-size: 70px;
    }

    .about-content-h1-l2 {
        font-size: 70px;
    }

}

@media (max-width: 1000px) {
    .home-decor-box {
        display: none;
    }

    .home-left-info-box {
        width: 10vw;
    }

    .home-video-box {
        top: 70%;
        left: 50%;
    }

    .gmiddle {
        width: 60vw;
    }


    .home-content-h1 {
        width: 550px;
        height: 420px;
    }

    .home-content-h1-l1 {
        font-size: 72px;
    }

    .home-content-h1-l2-line {
        font-size: 72px;
    }

    .home-content-h1-l2-linethrough {
        width: 95%;
    }

    .home-content-h1-l3 {
        font-size: 72px;
    }

    .home-content-h1-l4-info {
        width: 320px;
    }

    .home-content-h1-button-content {
        width: 85px;
        height: 85px;
        font-size: 11px;
    }


    .burger-menu-container {
        padding-left: 2%;
    }



    .bm-footer-content {
        font-size: 40px;
    }

    .bm-social-box {
        width: 270px;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8vw;
    }

    .bm-social-content-updates {
        font-size: 12px;
        line-height: 33.6px;
        letter-spacing: 1px;
        color: white;
        padding-top: 1%;
    }

    .bm-contact-box {
        width: 197px;
        height: 120px;
        padding-top: 27%;
    }

    .bm-social-info {
        font-size: 16px;
    }

    .bm-contact-address {
        font-size: 12px;
    }

    .bm-tend-img {
        display: none;
    }

    .bm-company-name {
        font-size: 10px;
    }

    .about-box {
        padding-left: 3%;
    }

    .about-content {
        padding-left: 10vw;
        height: 620px;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }

    .about-content-h1-l1 {
        font-size: 60px;
    }

    .about-content-h1-l2 {
        font-size: 60px;
    }

}





@media (max-width: 610px) {
    .home-box {
        max-width: 100vw;
        height: 896px;
        background-color: black;
        background-image: none;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transition: background-color 0.5s ease;
        justify-content: space-between;
    }

    .home-left-info-box {
        height: 408px;
        width: 100vw;
        background-image: url(./igniting-innovation-harnessing-power-coding-600nw-2425426569-modified.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        z-index: 1;
        transition: background-color 0.5s ease-in-out;
        transition: background-image 0.5s ease-in-out;
    }

    .home-left-info-icon-box {
        display: none;
    }

    .home-left-info-number-icon-01 {
        display: none;
    }

    .home-left-info-text-box {
        display: flex;
    }

    .home-top-nav-action-box {
        display: none;
    }

    .home-left-info-button-menu {
        display: none;
    }

    .home-left-info-button-menu-icon {
        display: flex;
        transition: transform 0.5s ease;
        z-index: 10;
    }


    .home-left-info-button-menu-wrapper {
        transform: translateY(-20px);
    }

    .home-left-info-button-menu-wrapper.visible {
        transform: translateY(0);
    }


    .home-content-box {
        display: flex;
        width: 100%;
        height: 489px;
        padding-left: 4.5%;
        flex-direction: column;
        justify-content: space-between;
        padding-projects-bottom-box: 2%;
    }

    .home-content-top-nav-coord-info {
        display: none;
    }


    .home-content-top-nav-info-text {
        width: 86px;
        height: 24px;
        font-size: 24px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -0.4000000059604645px;
        color: white;
    }

    .home-content-top-nav-coord-box {
        width: 250px;
        height: 24px;
        display: flex;
        justify-content: space-between;
    }

    .home-content-h1 {
        width: 820px;
        height: 10px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: transparent;
        position: relative;
        top: -30px;
    }

    .home-content-h1-l1 {
        width: 70%;
        font-size: 56px;
        line-height: 56px;
    }

    .home-content-h1-l2-line {
        width: 93%;
        height: 96px;
        font-size: 56px;
        line-height: 90px;
        text-align: left;
    }

    .home-content-h1-l2-linethrough {
        width: 95%;
    }

    .home-content-h1-l2-box {
        justify-content: start;
    }

    .home-content-h1-l3 {
        width: 87%;
        text-align: start;
        font-size: 56px;
        line-height: 25px;
    }

    .home-content-h1-l4-box {
        display: flex;
        width: 95%;
        gap: 40px;
        height: auto;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .home-content-h1-l4-info {
        width: 366px;
        height: 58px;
        font-size: 18px;
        font-weight: 300;
        line-height: 28.8px;
        color: #FFFFFF;
        margin-projects-bottom-box: 50px;
        padding-top: 16px;
    }

    .home-content-h1-button-icon {
        display: flex;
    }

    .home-drop-down-button {
        display: none;
    }

    .home-content-h1-button-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-projects-bottom-box: 100px;
        position: relative;
    }

    .home-content-h1-button-content {
        width: 100px;
        height: 100px;
    }

    .home-video-box {
        width: 290px;
        display: flex;
        align-items: end;
        justify-content: end;
        position: absolute;
        top: 1000px;
        left: 12%;
        z-index: 1;
    }


    .home-video-h1 {
        width: 110px;
        height: 22px;
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }


    .about-box {
        width: 100vw;
        height: 950px;
        align-items: end;
        padding-right: 3%;
    }



    .about-content-h1-l1 {
        font-size: 56px;
    }

    .about-content-h1-l2 {
        font-size: 56px;
    }

    .burger-menu-container {
        background-color: #000000;
        height: 800px;
        width: 100vw;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        transform: translateY(-100%);
        padding-projects-bottom-box: 0;
        padding-left: 24px;
        top: 50px;
    }

    .bm-box {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        height: 800px;
    }

    .bm-footer-content {
        font-size: 56px;
        line-height: 56px;
    }

    .bm-footer {
        height: 376px;
    }


    .bm-social-box {
        width: 100vw;
        height: 246px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }

    .bm-social-content-updates {
        font-size: 14px;
        line-height: 33.6px;
        letter-spacing: 1px;
        color: white;
        padding-top: 1%;
    }

    .bm-social-content-updates:hover {
        cursor: pointer;
        color: #E5E548;
        transition: color 0.3s ease, 0.3s ease;
    }

    .bm-social {
        width: Hug (71px)px;
        height: Hug (190px)px;
        gap: 32px;

    }

    .bm-contact-box {
        width: 197px;
        height: 120px;
        padding-top: 0;
    }

    .bm-social-info {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        letter-spacing: 2px;
        color: white;
        padding-projects-bottom-box: 15%;
    }

    .bm-contact-address {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: 1px;
        color: white;
    }


    .bm-company-box {
        display: none;
    }

}

@media (max-width: 405px) {
    .home-content-h1-l1 {
        font-size: 48px;
    }

    .home-content-h1-l2-line {
        font-size: 48px;
    }

    .home-content-h1-l3 {
        font-size: 48px;
    }

    .bm-social-info {
        font-size: 16px;
        width: 100px;
    }

    .bm-contact-address {
        font-size: 12px;
        width: 100px;
    }

    .bm-footer-content {
        font-size: 48px;
        line-height: 48px;
    }

    .about-content-h1-l1 {
        font-size: 48px;
    }

    .about-content-h1-l2 {
        font-size: 48px;
    }

}

@media (max-width: 345px) {
    .home-content-h1-l1 {
        font-size: 40px;
    }

    .home-content-h1-l2-line {
        font-size: 40px;
    }

    .home-content-h1-l3 {
        font-size: 40px;
    }

    .bm-footer-content {
        font-size: 40px;
        line-height: 20px;
    }

    .home-video-box {
        left: 5%;
        width: 270px;
    }

    .home-video {
        width: 270px;
    }

    .about-content-h1-l1 {
        font-size: 40px;
    }

    .about-content-h1-l2 {
        font-size: 40px;
    }

    .about-content {
        height: 450px;
        padding-projects-bottom-box: 25px;
    }
}


@media (max-width: 283px) {
    .home-content-h1-l1 {
        font-size: 35px;
    }

    .home-content-h1-l2-line {
        font-size: 35px;
    }

    .home-content-h1-l3 {
        font-size: 35px;
    }

    .bm-footer-content {
        font-size: 35px;
    }


    .home-video-box {
        width: 240px;
        left: 1%;
    }

    .home-video {
        width: 240px;
    }

    .about-content-h1-l1 {
        font-size: 35px;
    }

    .about-content-h1-l2 {
        font-size: 35px;
    }

}


/* 
page4.css
*/

.services {
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-projects-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    padding: 5% 8% 8% 8%;
    align-items: flex-start;
    gap: 28px;
}

.services-projects-h1-l1 {
    display: flex;
    width: 227px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #666;
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

.services-projects-h1-line-h1 {
    display: flex;
    width: 334px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--NeuYellow, #E5E548);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 70%;
    text-transform: uppercase;
    position: absolute;
    left: 29%;
}

.services-projects-h1-line-box {
    display: flex;
    position: relative;
    align-items: center;
}

.services-line {
    position: relative;
    left: 2%;
}

.services-full {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: flex-end;
}


.services-left {
    display: flex;
    width: 770px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.services-left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-number {
    display: flex;
    width: 24px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    color: var(--NeuWhite, #FFF);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    opacity: 0.4;
}

.services-name {
    width: 549px;
    height: 64px;
    color: var(--NeuWhite, #FFF);
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.services-name:hover {
    color: var(--NeuYellow, #E5E548);
    cursor: pointer;
}

.services-border {
    display: flex;
    height: 72px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-projects-bottom-box: 1px solid rgba(255, 255, 255, 0.20);
}

.services-border:hover {
    border-projects-bottom-box: 1px solid var(--NeuYellow, #E5E548);
    cursor: pointer;
}


.services-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 290px;
    height: 392px;
}

.services-polygon-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.services-polygon {
    width: 70px;
    height: 70px;
}

.services-right-pic {
    position: relative;
    width: 290px;
    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-pic {
    width: 290px;
    height: 392px;
    z-index: 1;
}

.services-yellow-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.yellow-circle {
    width: 108px;
    height: 108px;
}

.services-yellow-circle-text {
    position: absolute;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.192px;
    text-transform: uppercase;
    z-index: 4;
}

@media (max-width:1236px) {
    .services-projects-h1-l1 {
        font-size: 56px;
    }

    .services-projects-h1-line-h1 {
        font-size: 56px;
        left: 20%;
    }

    .services-line {
        width: 590px;
    }


}

@media (max-width:1236px) {
    .services-right {
        display: none;
    }
}


@media (max-width:932px) {
    .services-left {
        align-items: center;
    }

    .services-projects-h1 {
        padding: 15% 8% 8% 8%;

    }
}

@media (max-width:385px) {

    .services-projects-h1 {
        padding: 18% 8% 15% 8%;
        gap: 15px;
    }

    .services-projects-h1-l1 {
        font-size: 36px;
    }

    .services-projects-h1-line-h1 {
        font-size: 36px;
        left: 2%;
    }

    .services-line {
        width: 590px;
    }

    .services-right {
        display: none;
    }

    .services-name {
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 2px;

    }
}


/* 
projects-box-style.css
*/

.b1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: wheat;
}

.b2 {
    width: 100vw;
    height: 90vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.projects-box {
    width: 100vw;
    /* height: 210vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.projects-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    /* padding: 150px 150px; */
    padding: 10%;
    align-items: flex-start;
    gap: 28px;

}

.projects-h1-l1 {
    display: flex;
    width: 219px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #666;
    color: black;
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

.projects-h1-line-h1 {
    display: flex;
    width: 310px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    color: var(--NeuYellow, #E5E548);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
}

.projects-h1-line-box {
    display: flex;
    position: relative;
    align-items: center;
}

.line {
    position: relative;
    /* top: 1500%; */
    left: 15%;
    width: 100%;
}

.projects-slider-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "box1 box2"
        "box3 box4";
    /* padding: 80px 150px; */
    padding: 0 10%;
    column-gap: 40px;
    row-gap: 120px;
}


.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-box {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 550px;
    height: 408px;
    overflow: hidden;
}

.box1pic1 {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: gray;
    position: relative;
    z-index: 0;
    transition: opacity 0.4s ease;
}

.box1pic1:hover {
    opacity: 1;
    background: none;
}


.Polygon {
    width: 70px;
    height: 70px;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
}

.hover-line {
    display: flex;
    height: 128px;
    position: absolute;
    z-index: 2;
    projects-bottom-box: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.yellow-line {
    position: absolute;
    projects-bottom-box: 0;
    left: 0;
    height: 128px;
    background-color: #E5E548;
    width: 0;
    transition: width 1s ease;
}

.yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    projects-bottom-box: 0;
    left: 0;
    height: 128px;
    width: 128px;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 1s ease, left 1s ease;
}

.box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.arrow {
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: opacity 1s ease, left 1s ease;
    /* transform: translateX(-540%); */
}

.image-box:hover .yellow-line {
    width: 80%;
}

.image-box:hover .yellow-box {
    opacity: 1;
    left: 80%;
}

.image-box:hover .arrow {
    opacity: 1;
    left: 40%;
}

.number-container {
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 300px;
    padding-top: 120px;
    padding-left: 50px;
}

.number {
    transform: rotate(-90deg);
    text-align: right;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: var(--NeuWhite, #FFF);
    color: transparent;
    font-size: 168px;
    font-weight: 700;
    position: relative;
    -webkit-text-stroke: 1px #ffffff7b;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 8%;
}

.line1 {
    color: var(--NeuYellow, #E5E548);
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.line2 {
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;

}

.line3 {
    color: var(--White, #FFF);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    opacity: 0.4;
}

.line4 {
    color: var(--White, #FFF);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.projects-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

.btn {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 80px;
    border: 1px solid #FFF;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.192px;
    text-transform: uppercase;
}

.btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease;
}



@media (max-width:1262px) {
    .projects-h1-l1 {
        font-size: 56px;
    }

    .projects-h1-line-h1 {
        font-size: 56px;
    }

    .image-box {
        width: 269px;
        height: 376px;
    }

    .projects-slider-grid-box {
        grid-template-columns: 1fr;
        grid-template-areas:
            "box1 box2" "box3 box4";
        padding-top: 48px;

    }

    .line1 {
        width: 269px;
        line-height: 120%;
        letter-spacing: 2px;
    }

    .line2 {
        width: 269px;
    }

    .projects-slider-box {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
    }

    .projects-slider-grid-box {
        display: flex;
        gap: 16px;
        padding-projects-bottom-box: 20px;
    }

    .projects-slider-grid-box>div {
        flex: 0 0 30%;
        scroll-snap-align: center;
    }

    .text {
        padding-left: 0;
    }

    .projects-bottom-box {
        display: none;
    }

    .box1pic1 {
        object-fit: cover;
    }

    .image-box:hover .yellow-line {
        width: 60%;
    }

    .image-box:hover .yellow-box {
        opacity: 1;
        left: 60%
    }

    .image-box:hover .arrow {
        opacity: 1;
        left: 30%;
    }

}