<!DOCTYPE html>
<body>
    <div class="title">
        <p class="title1">LATEST</p>
        <div class="lined">
            <p class="title2">PROJECTs</p>
            <svg class="line" xmlns="http://www.w3.org/2000/svg" width="480" height="2" viewBox="0 0 480 2" fill="none">
                <path d="M0 1H480" stroke="#E5E548" stroke-width="1.6" />
            </svg>
        </div>
    </div>
    
    <div class="grid-container">
    
        <div class="box1">
            <svg class="Polygon" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 1.52588e-05L-1.98284e-05 -3.0598e-06L-2.28882e-05 70L70 1.52588e-05Z" fill="black" />
            </svg>
            <div class="image-box">
                <svg class="pic1" width="550" height="408" viewBox="0 0 550 408" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.2" width="550" height="408" fill="black" />
                </svg>
                <div class="number-container">
                    <div class="number">01</div>
                </div>
                <div class="hover-line">
                    <svg class="yellow-line" width="422" height="128" viewBox="0 0 422 128" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="422" height="128" fill="#E5E548" />
                    </svg>
                    <div class="box-arrow">
                        <svg class="yellow-box" width="128" height="128" viewBox="0 0 128 128" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" width="128" height="128" fill="#E5E548" />
                        </svg>
    
                        <svg class="arrow" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.68629 43.3137C1.68571 36.0697 1.68571 27.9303 4.68629 20.6863C7.68687 13.4422 13.4422 7.68687 20.6863 4.68629C27.9303 1.68571 36.0697 1.68571 43.3137 4.68629C50.5578 7.68687 56.3131 13.4422 59.3137 20.6863C62.3143 27.9303 62.3143 36.0697 59.3137 43.3137C56.3131 50.5578 50.5578 56.3131 43.3137 59.3137C36.0697 62.3143 27.9303 62.3143 20.6863 59.3137C13.4422 56.3131 7.68687 50.5578 4.68629 43.3137Z"
                                fill="black" />
                            <path d="M36 42L44 32L36 22" stroke="white" stroke-width="1.6" />
                            <path d="M20 32L36 32" stroke="white" stroke-width="1.6" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="line1">Maquiladora ARCHITECT</p>
                <p class="line2">When art meet technology and
                    nature, Maquiladora studio revamp their online
                    presence.</p>
                <p class="line3">WEB DESIGN / WEB DEVELOPMENT</p>
                <div class="dot">
                    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#E5E548" />
                    </svg>
                    <p class="line4">ARCHITECTURE</p>
                </div>
            </div>
        </div>
    
        <div class="box2">
            <svg class="Polygon" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 1.52588e-05L-1.98284e-05 -3.0598e-06L-2.28882e-05 70L70 1.52588e-05Z" fill="black" />
            </svg>
            <div class="image-box">
                <svg class="pic1" width="550" height="408" viewBox="0 0 550 408" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.2" width="550" height="408" fill="black" />
                </svg>
                <div class="number-container">
                    <div class="number">02</div>
                </div>
                <div class="hover-line">
                    <svg class="yellow-line" width="422" height="128" viewBox="0 0 422 128" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="422" height="128" fill="#E5E548" />
                    </svg>
                    <div class="box-arrow">
                        <svg class="yellow-box" width="128" height="128" viewBox="0 0 128 128" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" width="128" height="128" fill="#E5E548" />
                        </svg>
    
                        <svg class="arrow" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.68629 43.3137C1.68571 36.0697 1.68571 27.9303 4.68629 20.6863C7.68687 13.4422 13.4422 7.68687 20.6863 4.68629C27.9303 1.68571 36.0697 1.68571 43.3137 4.68629C50.5578 7.68687 56.3131 13.4422 59.3137 20.6863C62.3143 27.9303 62.3143 36.0697 59.3137 43.3137C56.3131 50.5578 50.5578 56.3131 43.3137 59.3137C36.0697 62.3143 27.9303 62.3143 20.6863 59.3137C13.4422 56.3131 7.68687 50.5578 4.68629 43.3137Z"
                                fill="black" />
                            <path d="M36 42L44 32L36 22" stroke="white" stroke-width="1.6" />
                            <path d="M20 32L36 32" stroke="white" stroke-width="1.6" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="line1">Codex CONSULTING</p>
                <p class="line2">Codex brings new perspective in
                    business consulting paradigm with their new
                    identity.</p>
                <p class="line3">BRAND IDENTITY</p>
                <div class="dot">
                    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#E5E548" />
                    </svg>
                    <p class="line4">BUSINESS CONSULTING</p>
                </div>
            </div>
        </div>
    
        <div class="box3">
            <svg class="Polygon" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 1.52588e-05L-1.98284e-05 -3.0598e-06L-2.28882e-05 70L70 1.52588e-05Z" fill="black" />
            </svg>
            <div class="image-box">
                <svg class="pic1" width="550" height="408" viewBox="0 0 550 408" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.2" width="550" height="408" fill="black" />
                </svg>
                <div class="number-container">
                    <div class="number">03</div>
                </div>
                <div class="hover-line">
                    <svg class="yellow-line" width="422" height="128" viewBox="0 0 422 128" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="422" height="128" fill="#E5E548" />
                    </svg>
                    <div class="box-arrow">
                        <svg class="yellow-box" width="128" height="128" viewBox="0 0 128 128" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" width="128" height="128" fill="#E5E548" />
                        </svg>
    
                        <svg class="arrow" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.68629 43.3137C1.68571 36.0697 1.68571 27.9303 4.68629 20.6863C7.68687 13.4422 13.4422 7.68687 20.6863 4.68629C27.9303 1.68571 36.0697 1.68571 43.3137 4.68629C50.5578 7.68687 56.3131 13.4422 59.3137 20.6863C62.3143 27.9303 62.3143 36.0697 59.3137 43.3137C56.3131 50.5578 50.5578 56.3131 43.3137 59.3137C36.0697 62.3143 27.9303 62.3143 20.6863 59.3137C13.4422 56.3131 7.68687 50.5578 4.68629 43.3137Z"
                                fill="black" />
                            <path d="M36 42L44 32L36 22" stroke="white" stroke-width="1.6" />
                            <path d="M20 32L36 32" stroke="white" stroke-width="1.6" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="line1">RAUNG PACK</p>
                <p class="line2">Our collaborations with latest
                    outdoors gear for their website.</p>
                <p class="line3">WEB DESIGN / WEB DEVELOPMENT</p>
                <div class="dot">
                    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#E5E548" />
                    </svg>
                    <p class="line4">HIKING GEARS</p>
                </div>
            </div>
        </div>
    
        <div class="box4">
            <svg class="Polygon" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 1.52588e-05L-1.98284e-05 -3.0598e-06L-2.28882e-05 70L70 1.52588e-05Z" fill="black" />
            </svg>
            <div class="image-box">
                <svg class="pic1" width="550" height="408" viewBox="0 0 550 408" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.2" width="550" height="408" fill="black" />
                </svg>
                <div class="number-container">
                    <div class="number">04</div>
                </div>
                <div class="hover-line">
                    <svg class="yellow-line" width="422" height="128" viewBox="0 0 422 128" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="422" height="128" fill="#E5E548" />
                    </svg>
                    <div class="box-arrow">
                        <svg class="yellow-box" width="128" height="128" viewBox="0 0 128 128" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" width="128" height="128" fill="#E5E548" />
                        </svg>
    
                        <svg class="arrow" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.68629 43.3137C1.68571 36.0697 1.68571 27.9303 4.68629 20.6863C7.68687 13.4422 13.4422 7.68687 20.6863 4.68629C27.9303 1.68571 36.0697 1.68571 43.3137 4.68629C50.5578 7.68687 56.3131 13.4422 59.3137 20.6863C62.3143 27.9303 62.3143 36.0697 59.3137 43.3137C56.3131 50.5578 50.5578 56.3131 43.3137 59.3137C36.0697 62.3143 27.9303 62.3143 20.6863 59.3137C13.4422 56.3131 7.68687 50.5578 4.68629 43.3137Z"
                                fill="black" />
                            <path d="M36 42L44 32L36 22" stroke="white" stroke-width="1.6" />
                            <path d="M20 32L36 32" stroke="white" stroke-width="1.6" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="line1">OMBAX SURFBOARDS</p>
                <p class="line2">Ombax new logo redefined.</p>
                <p class="line3">BRAND IDENTITY</p>
                <div class="dot">
                    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#E5E548" />
                    </svg>
                    <p class="line4">OUTDOOR</p>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="bottom">
        <button class="btn">MORE WORKS</button>
        <svg width="42" height="10" viewBox="0 0 42 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="4" fill="#E5E548" stroke="#E5E548" stroke-width="1.6" />
            <circle cx="21" cy="5" r="4" stroke="#E5E548" stroke-width="1.6" />
            <circle cx="37" cy="5" r="4" stroke="#E5E548" stroke-width="1.6" />
        </svg>
    </div>
</body>
</html>

